@import url('reveal/css/reveal.css');
@import url('lib/css/zenburn.css');

body {
	background-color: black;
	font-family: Overpass;
	font-size: 38px;
	font-weight: normal;
}

::selection {
	color: #fff;
	background: #bee4fd;
	text-shadow: none;
}

.reveal section {
	color: #aaa;
}

.reveal section,
.reveal section > section {
	line-height: 1.3;
	font-weight: inherit;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 20px 0;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-shadow: none;
	word-wrap: break-word;
}

.reveal h1 {
	font-size: 4.5em;
	color: white;
	font-weight: bold;
}

.reveal h2 {
	font-size: 1.6em;
}

.reveal h3 {
	font-size: 1.3em;
}

.reveal h4 {
	font-size: 1em;
}

.reveal p {
	margin: 20px 0;
	line-height: 1.3;
}

.reveal tt {
	font-family: monospace;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
	max-width: 100%;
	max-height: 100%;
	/* image-rendering: -moz-crisp-edges; */
}

.reveal strong {
	color: #fff;
	font-weight: bold;
}

.reveal em {
	color: #fff;
	font-style: none;
}
