@import url('../reveal/css/reveal.css');
@import url('../pikestreet/css/theme/pikestreet.css');
@import url('slides.css');

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(montserrat-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 700;
  src: url(pacifico-regular.woff2) format('woff2');
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6
{
  font-family: "Montserrat", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.reveal .comment {
    color: #e7ad52;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal section img.border {
    border: 3px solid white;
}

table.reasons {
    margin-left: 0px;
    width: 100%;
}

table.reasons td {
    border-bottom-color: #e7ad52;
}

table.reasons th {
    color: #e7ad52;
}

ul.reasons li {
}

ul.reasons li i {
    color: white;
}

html.divider body {
    background-image: url("../pikestreet/assets/patternbg.png");
    background-repeat: repeat;
    background-size: 600px auto;
}

html.complex .reveal section {
    background-color: #5c2d91;
    padding: 20px;
}
