/*
 * A nice listing
 */

.reveal .listing {
    counter-reset: my-badass-counter;
    font-size: 1.2em;
    padding-top: 1em;
    padding-left: 1em;
    list-style-type: none;
}

.reveal .listing li {
    position: relative;
    padding-left: 2.5em;
    padding-bottom: 1em;
}

.reveal .listing li:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    position: absolute;
    left: 0;
    top: -0.15em;
    font-weight: bold;
    font-size: 2.5em;
}

/*
 * Clear white slides
 */

html.clear body {
    background: none;
    background-color: none;
}

html.clear .reveal {
    color: #000;
    background: white;
}

html.clear .reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}
