@import url('font-awesome.css');

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 700;
  src: url(fontawesome-webfont.woff2) format('woff2');
}

.reveal .fa-ul {
    list-style-type: none;
}

/*
 * A nice listing
 */

.reveal .listing {
    counter-reset: my-badass-counter;
    font-size: 1.2em;
    padding-top: 1em;
    padding-left: 1em;
    list-style-type: none;
}

.reveal .listing li {
    position: relative;
    padding-left: 2.5em;
    padding-bottom: 1em;
}

.reveal .listing li:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    position: absolute;
    left: 0;
    top: -0.15em;
    font-weight: bold;
    font-size: 2.5em;
}

/*
 * Headings with black shadow
 */

.reveal h1.stand {
    text-shadow: -6px 0 #000, 0 6px #000, 6px 0 #000, 0 -6px #000;
    color: white;
}

/*
 * Clear white slides
 */

html.clear body {
    background: none;
    background-color: none;
}

html.clear .reveal {
    color: #000;
    background: white;
}

/*
 * Reasons table
 */

table.reasons td {
    max-width: 200px;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul.reasons li {
    padding: 0.7em;
}

ul.reasons li i {
    font-size: 2em;
}

ul.reasons li.fragment.visible {
    padding: 0;
}

ul.reasons li.fragment.visible span {
    font-weight: bold;
    font-size: 2em;
}

